backend:
  name: github
  base_url: https://suresh-issue-82.dcycleproject.org
  auth_endpoint: /auth/github/repo/6955500554e5f1510694b01b
  repo: hello-snamy/test1
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
