backend:
  name: github
  repo: hello-snamy/test1
  branch: main
  base_url: https://app.staticauth.com
  auth_endpoint: /auth/github/repo/696512f18a3239f2047170c5
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
