backend:
  name: github
  base_url: https://suresh-issue-82.dcycleproject.org
  auth_endpoint: /auth/github/repo/693164452770afb2aa827b48
  repo: hello-snamy/test1
  branch: main
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
